{% extends "base.html" %}


{% block short_title %}About{% endblock %}

{% block title %}About me{% endblock %}

{% block content %}
<div class="introduction">
    <picture class="profile-picture">
        <img src="https://avatars.githubusercontent.com/u/36550428?v=4" width="240px" alt="Nicolas Bonnet">
    </picture>

    <section>
        <p>Hi there! I'm <strong>Nicolas Bonnet</strong>, a software engineer based in Amsterdam, currently working at Databricks. Before
            <a href="https://www.databricks.com/">Databricks</a>, I spent some time at <a href="https://uber.com/">Uber</a>, where I had the chance to work on some interesting challenges. My
            journey in tech has been driven by a deep curiosity and passion for solving complex problems, particularly
            in the realms of security, automation, and backend development.</p>
        <p>I love diving into new technologies, whether it's exploring the nuances of different programming languages
            like Python or Rust, or working on projects that make secure, scalable systems more accessible to
            developers. Open-source is a big part of what I do—I enjoy sharing my work and collaborating with the
            developer community to push the boundaries of what's possible.</p>
        <p>Outside of coding, I like to keep things lighthearted. For instance, you'll often hear me joking about my
            strong dislike for coriander (seriously, it's not for me!). Whether I’m contributing to a project, mentoring
            others, or just geeking out over the latest tech trends, I always strive to bring a bit of humor and
            approachability to everything I do.</p>
        <p>Looking forward to connecting and maybe even working together on something cool!</p>
    </section>
</div>
{% endblock %}
