<div class="message-list">
    <br/>

    {% for entry in entries %}
    <div class="message-entry">
        <div class="header">
        <p>
            <span class="name">{{ entry.name }}</span> <a class="email" href="mailto:{{entry.email}}">({{ entry.email }})</a>
        </p>
        <p class="time">{{ entry.time }}</p>
        </div>
        <div class="contents">
            {{ entry.message }}
        </div>
    </div>
    {% endfor %}

    {% if has_next_page %}
    <div class="footer">
    <button
            class="primary-button"
            hx-get="/message/entries?max_results={{max_results}}&page_token={{ next_page_token }}"
            hx-trigger="click"
            hx-target=".message-list"
            hx-swap="outerHTML show:window:top"
            hx-disabled-elt="this"
    >
        Next page
    </button>
    </div>
    {% endif %}
</div>